<%= form_for([@question, @answer]) do |f| %>

	<%= render 'common/form_errors', object: @answer %>


	<p>
		<%= f.text_field :body, class: 'form' %>

		<%= f.submit "Responde" %>
	</p>
<% end %>